server {
    listen 80 default_server;
    listen [::]:80 default_server ipv6only=on;
    server_name _;

    # Prevent a massive file-leak from even leaving your machine
    client_max_body_size 1M;

    location /api/v1/ {
        proxy_pass_request_headers off;
        proxy_set_header Authorization "Bearer ${OPENROUTER_API_KEY}";
        proxy_set_header Content-Type "application/json"; # Standardize
        proxy_set_header Host openrouter.ai;
        proxy_ssl_server_name on;

        # Use the trailing slash to prevent URI tail-stuffing
        proxy_pass https://openrouter.ai/api/v1/;
    }
}